.modular{
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 40px;
    box-sizing: border-box;
}
.h1{
    font-size: 18px;
    text-align: center;
    color: #333333;
    line-height: 1.75rem;
}
.p{
    font-size: 14px;
    text-align: center;
    color: #333333;
    line-height: 1.25rem;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: auto;
    padding: 40px 0;
    box-sizing: border-box;
    min-height: calc(100vh);
    background-image: url('../../public/asset/background\ image/authBackgroundImage.webp');
    background-size: cover;
}
.colRed{
    color: #A61D4A;
}
.topText{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.button{
    width: 100%;
    background-color: #A61D4A;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
.inputDiv{
    position: relative;
    width: 100%;
    padding: 8px 16px;
    height: 56px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #D2D2D2;
}
.inputDiv input{
    width: 100%;
    font-size: 14px;
    border: none;
    outline: none;
}
.bottomContent{
    font-size: 14px;
    flex-direction: column;
    display: flex;
    gap: 8px;
    align-items: center;
}
.bottomContent p{
    display: flex;
    gap: 8px;
}
.error{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.error p{
    display: none;
    font-size: 14px;
    color: #A61D4A;
}
.error .colRed::placeholder{
    color: #A61D4A;
}
.error p.active{
    display: block;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.authP{
    text-align: center;
    width: 100%;
}
.signupText{
    font-size: 14px;
    color: #333333;   
}
.bgColAuth{
    background-color: #FAFAFA;
    color: #333333;
    cursor: pointer;
}
.bgColAuthblack{
    background-color: black;
    color: white;
    cursor: pointer;
}
.or{
    display: flex;
    gap: 8px;
    padding: 0 8px;
    align-items: center;
    color: #D2D2D2;
}
.or span{
    font-size: 12px;
}
.or div{
    width: 100%;
    height: 1px;
    background-color: #D2D2D2;
}
.checkBox{
    font-size: 14px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}
.label{
    display: flex;
    align-items: center;
    gap: 8px;
}
.verificationBlock{
    display: flex;
padding: 0.75rem 1rem;
align-items: center;
gap: 1rem;
width: 100%;
align-self: stretch;
border-radius: 0.5rem;
border: 1px solid var(--black-20, #D2D2D2);
background: var(--black-0, #FFF);
}
.verificationBlockHolder{
    display: flex;
align-items: flex-start;
gap: 0.5rem;
align-self: stretch;
}