
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,700&family=Roboto+Mono:wght@400;500;700&display=swap');

:root{
    --black-0: #FFFFFF;
    --black-100: #333333;
    --black-10: #FAFAFA;
    --black-20: #D2D2D2;
    --black-60: #838383;
    --primary-100: #A61D4A;
    
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
button{
    font-family: 'Nunito Sans', sans-serif;
    border: none;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
}
input::-ms-reveal,
input::-ms-clear {
    display: none;
}