:root{
    --black-0: #FFFFFF;
    --black-100: #333333;
    --black-10: #FAFAFA;
    --black-20: #D2D2D2;
    --black-60: #838383;
    --primary-100: #A61D4A;
    
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
}
button{
    border: none;
    cursor: pointer;
}
input, select{
    border: none;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input::-ms-reveal,
input::-ms-clear {
    display: none;
}